body {
    background-color: rgb(255, 255, 255);
    color: white; 
    margin: 0;
    padding: 0;
}

.header_menu{
    position: relative;
    top: 8px;
}

.logo a{
    color: white;
    text-decoration: none;
    
}

.Left_menu :hover {
    color: rgba(255, 255, 255, 0.61);
}

.Left_menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
}

.logo{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin-right: 800px;
}

.Left_menu, .languageUA, .languageEN{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.Left_menu li {
    display: inline-block;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -20px; 
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}


.languageUA button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;     
}

.languageEN button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    position: fixed;
    right: 60px;
    top: 20px;
    z-index: 1;
}

.languageEN button:hover, .languageUA button:hover{
    color: rgba(255, 255, 255, 0.562);
}

.one {
    margin-top: 1000px;
    color: black;
}



footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    left: 0;
    font-family: 'Ubuntu', sans-serif;
}
