body {
    background-color: rgb(255, 255, 255);
    color: white; 
    margin: 0;
    padding: 0;
}

.header_menu{
    position: relative;
    top: 8px;
}

.logo a{
    color: white;
    text-decoration: none;
    
}

.Left_menu :hover {
    color: rgba(255, 255, 255, 0.61);
}

.Left_menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
}

.logo{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin-right: 800px;
}

.Left_menu, .languageUA, .languageEN{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.Left_menu li {
    display: inline-block;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -20px; 
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 4;
}


.languageUA button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;     
}

.languageEN button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    position: fixed;
    right: 60px;
    top: 20px;
    z-index: 1;
}

.languageEN button:hover, .languageUA button:hover{
    color: rgba(255, 255, 255, 0.562);
}



footer{
    background-color: black;
    position: absolute;
    width: 100%;
    margin-top: 1900px;
}

.compa hr{
    width: 30%;
    height: 2px;
    background-color: white;
    margin: 10px auto;
}

.compa{
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}

.Unity{
    width: 100px;
    margin-right: 200px;
    margin-top: 60px;
}

.Unreal{
    width: 100px;
    margin-left: 200px;
    margin-top: -55px;
}

.contac, .contacUA{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    height: 130px;
    margin: 0 auto;
    text-align: center;
}

.contac{
    width: 500px;
}

.contacUA{
    width: 570px;
}

.contac a, .contacUA a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    margin: 20px; 
    font-family: 'Ubuntu', sans-serif;
}


.contac a:hover, .contacUA a:hover{
    color: rgba(255, 255, 255, 0.473);

}

.prav h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-right: 800px;
    font-size: 11px;
    margin-top: 0px;
}

.prav{
    margin-top: -20px;
    margin-left: 10px;
}

.rwgp{
    background: url("png/RWG.png");
    background-size: cover;
    object-fit: cover;
    height: 970px;
    width: 100%;
    margin-top: -5px;
    display: block;
    
    
}

.rwh1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 100px;
    top: 300px;
    opacity: 0;
    animation: ani 3s forwards;
    
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.back{
    height: 107%;
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}


.About{
    width: 100%;
    position: absolute;
    top: 1020px;
    left: 0;
    background-color: #121212;
    font-family: 'Ubuntu', sans-serif;
}

.About h1{
    margin-left: 65px;
    font-size: 70px;
    margin-top: 100px;
}

.About p{
    margin-left: 65px;
    font-size: 25px;
    margin-top: 50px;
    width: 50%;
}

.port{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2000px;
    left: 0;
    background-color: #121212;
    font-family: 'Ubuntu', sans-serif;
}

.port h1{
    text-align: center;
    position: relative;
    margin-top: 200px;
}

.card1 h1{
    text-align: center;
    position: relative;
    top: 200px;
}

.card1{
    position: relative;
    top: -800px;
    width: 506px;
    height: 745px;
    left: 475px;
    background: #ffffff;
    border-radius: 18px;
    overflow: hidden;
    margin: 0 auto;
}


.card2 h1{
    text-align: center;
    position: relative;
    margin-top: 350px;
    margin-left: -10px;
    color: black;
}

.card2{
    position: relative;
    top: 70px;
    width: 325px;
    height: 470px;
    background: #ffffff86;
    border-radius: 18px;
    overflow: hidden;
    margin: 0 auto;
}

.card2 img{
    position: absolute;
    width: 167px;
    top: 20%;
    left: 25%;
}